:root {
    --navy: #2D3E54;
    --teal: #547788;
    --sky-blue: #BFD0DC;
    --beige: #EAE6E2;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: "Red Hat Display", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: var(--navy);
    min-height: 100vh;
    overflow: hidden;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
    justify-items: center;
}

.align-center {
    align-items: center;
}

.column {
    flex-direction: column;
}

.disabled {
    display: none !important;
}

.symbol-selector-container {    
    gap: 2rem;
    width: 100%;
    max-width: 600px;
    h1 {
        color: var(--sky-blue);
        font-size: 2.5rem;
    }

    .symbol-selector {
        gap: 1rem;
        padding: 1.5rem 2rem;
        border-radius: 2.75rem;
        background-color: var(--sky-blue);
        box-shadow: .8rem .8rem .5rem rgb(31 43 58 / 0.5);
        width: 100%;
    }
    
    .symbol-selector::before,
    .symbol-selector::after {
        place-self: center;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 700;
        color: var(--navy);
    }
    
    .symbol-selector::before {
        content: "Please pick Player 1's symbol";
    }
    .symbol-selector::after {
        font-size: .8rem;
        content: "* Remember that X goes first";
        color: var(--teal);
    }

    .symbols-container {
        padding: 1rem;
        border-radius: 1.75rem;
        background-color: var(--navy);
        width: 90%;
    }
    
    .symbol {
        border-radius: .75rem;
        width: 100%;
        height: min(100%, 120px);
        font-size: 5rem;
        font-weight: 700;
        color: var(--beige);
    }
    
    .symbol:hover {
        background-color: var(--beige);
        color: var(--navy);
    }

    button {
        padding: 1em 2em;
        border-radius: .75rem;
        background-color: var(--teal);
        color: var(--beige);
        font-weight: 700;
        border: 0;
        cursor: pointer;
    }
}


